/* Some color schemes have been borrowed from https://codepen.io/matthewvincent/pen/EKKeyX */

svg {
   margin-top: auto; 
   margin-bottom: auto;
}

.accordion {
    display: flex;
    align-items: center;
    transition: background-color 0.6s ease;
}

.accordion:hover,
.active {
    background-color: #ccc ;
}

.accordion-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    padding: 10px;
    background-color: peru;
    color: white;
    margin-top: 5px;
    font-size: 1.5em;
    font-weight: bold;
    border: 10px solid skyblue;;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 0.5;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: transform 0.6s ease;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0.5;
    background-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.accordion-text {
    padding: 10px;
}

.accordion-icon {
    margin-left: auto;
    transition: transform 0.6s ease;
}