body {
    margin: 0px;
    background-color: #2E86AB;
    color: #35FF69;
    font-family: sans-serif;

}

.accordion-set {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: transparent;
    /* box-shadow: 0 15px 10px #777; */
}