.login-button {
    margin: auto;
    width: 80%;
    height: 25%;
    display: block;
    position: relative;
    top: 25px;
    font-size: 3em;
    margin-left: 10%;
    margin-right: 10%;
    background-color: purple;
    color: white;

}

.login-button:hover {
    cursor: pointer;
}