
.progress {
    background-color: #d8d8d8;
    border-radius: 20px;
    height: 50px;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    color: black;
    position: relative;
}

.progress-div {
    position: relative;
    top: -100px;
}

.progress-done {
    background: linear-gradient(#DD7596, #FF570A);
    box-shadow: 0 3px 3px -5px #DD7596, #FF570A;
    height: 100%;
    width: 100px;
    border-radius: 20px;
    display: flex;
    opacity: 0;
    justify-content: center;
    color: transparent;
}