h1 {
    text-align: center;
    font-size: 3em;
}

header {
    margin-top: 30px;
    width: 100%;
}

button {
    border:none;
}

.report-data {
    background-color: #FF570A;
    border-radius: 3px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}

.accordion-set {
    background-color: transparent;
}

.total-points-paragraph {
    text-align: center;
    font-size: 3em
}