h1 {
    text-align: center;
    font-size: 3em;
}

header {
    margin-top: 30px;
    width: 100%;
}

button {
    border:none;
}

.report-data {
    color: #FF570A;
    background-color: white;
    border-radius: 3px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 2%;
    min-width: 465px;
}

img {
    width: 28em;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.1fr;
}


.accordion-set {
    background-color: transparent;
}

.total-points-paragraph {
    text-align: center;
    font-size: 10em;
    background-color: blueviolet;
    border-radius: 50%;
}


.advice-paragraph {
    text-align: center;
    font-size: 2em;
}

.level {
    text-align: center;
    font-size: 2em;
}

@media only screen and (max-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }

    .progress-div {
        position: relative;
        top: 0px;
    }
  }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1076px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }

    .progress-div {
        position: relative;
        top: 0px;
    }
}